---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import HomeWork from '../components/HomeWork.astro';
import HomeTeam from '../components/HomeTeam.astro';
import HomeFeatures from '../components/HomeFeatures.astro';
import HomeHero from '../components/HomeHero.astro';
import HomeWLabel from '../components/HomeWLabel.astro';
import HomeRisk from '../components/HomeRisk.astro';
---


<Layout title="Mccann - Home">
	<Header />
	<main class="overflow-x-clip">
		<HomeHero />
		<HomeFeatures />
		<HomeRisk />
		<HomeWork />
		<HomeTeam />
		<HomeWLabel />
	</main>
	<Footer />
</Layout>
