---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import TeamCard from '../components/TeamCard.astro';
---

<Layout title="Team - Mccann">
	<Header />
	<main>
		<section class="bg-[url('/svg/team-sec1-1.svg')] bg-no-repeat bg-top">
			<div class="container md:flex">
				<div class="md:w-2/3 pb-20 md:pb-32">
					<h1 class="transition delay-100 duration-700 opacity-0 font-thin text-5xl md:text-7xl  text-mccann-light-grey leading-tight"
          data-replace='{"opacity-0": "opacity-100" }'>
          The team one could only dream of
          </h1>
				</div>
			</div>
      <div class="team-grid container grid grid-cols-1 md:grid-cols-4 gap-2">
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src='../team-assets/kristaps-s.jpg'
        doodle_src="../svg/work-doodle-kristaps-s.svg" />
        <TeamCard 
        name="Ainārs <br/> Scipcinskis"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/ainars.jpg" />
        <TeamCard 
        name="Valters <br/> Jonats"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/valters.jpg"
        doodle_src="../svg/work-doodle-valters.svg" />
        <TeamCard 
        name="Ieva <br/> Daneljana"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/ieva.jpg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/madara.jpg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/toms.jpg"
        doodle_src="../svg/work-doodle-toms.svg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/sintija.jpg"
        doodle_src="../svg/work-doodle-sintija.svg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/anete.jpg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/gunta.jpg"
        doodle_src="../svg/work-doodle-gunta.svg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/gatis.jpg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/zaga.jpg" 
        doodle_src="../svg/work-doodle-zaga.svg"/>
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/ilze.jpg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/roberts.jpg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/linda.jpg"
        doodle_src="../svg/work-doodle-linda.svg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/evija.jpg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/kristaps-b.jpg" 
        doodle_src="../svg/work-doodle-kristaps-b.svg"/>
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/alise.jpg"
        doodle_src="../svg/work-doodle-alise.svg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/marta.jpg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/dita.jpg"
        doodle_src="../svg/work-doodle-dita.svg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/maruta.jpg" />
        <TeamCard 
        name="Kristaps <br/> Siliņš"
        occupation="PARTNER, CEO, <br/> Head of Strategy"
        src="../team-assets/dace.jpg" />
      </div>
		</section>
	</main>
	<Footer />
</Layout>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){

    const listItems = document.querySelector('.team-grid').querySelectorAll(".doodle-overlay:not([src=''])");
    const listArray = Array.from(listItems);
    var pickedItem = undefined;
    var i = 0;

    //console.log(listArray)

    pickedItem = listArray[0];
    pickedItem.classList.toggle("invisible");

    setInterval(() => {
          if (Math.random()<=0.66) // Chance = 1/3
          pickRandomItem(listArray);
        }, 2e3);

    function pickRandomItem(arr){

      if (typeof arr !== undefined && arr.length > 0) {
        if(pickedItem != undefined) {
          console.log("remove doodle");
          pickedItem.classList.toggle("invisible");
        }

        let doodle_overlay = undefined;
        //pickedItem = arr[Math.floor(Math.random()*arr.length)]
        pickedItem = undefined;
        pickedItem = arr[Math.floor(Math.random()*arr.length)];
        pickedItem.classList.toggle("invisible");
      }
    }
  });
</script>