---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Work - Mccann">
	<Header />
	<main>
		<section class="">
			<div class="container mb-0 pb-0 bg-[url('/svg/work-sec1-1.svg')] bg-no-repeat bg-right-top">
				<div class="md:w-2/3 pb-20 md:pb-32">
					<h1 class="
					transition delay-100 duration-700 opacity-0 max-w-2xl text-5xl md:text-7xl  
					text-mccann-light-grey leading-tight"
					data-replace='{"opacity-0": "opacity-100" }'>
					We’ll let our work speak for itself
					</h1>
				</div>
				<nav role="navigation">
					<ul class="work-nav flex flex-nowrap font-overpriced md:text-xl gap-7 cursor-pointer overflow-x-scroll md:overflow-x-clip py-4">
						<li class=" text-mccann-green whitespace-nowrap">All</li>
						<li class="transition text-mccann-dark-grey hover:text-mccann-light-grey whitespace-nowrap">Campaigns</li>
						<li class="transition text-mccann-dark-grey hover:text-mccann-light-grey whitespace-nowrap">Branding / Rebranding</li>
						<li class="transition text-mccann-dark-grey hover:text-mccann-light-grey whitespace-nowrap">Design / Ilustration</li>
					</ul>
				</nav>
			</div>
		</section>
		<section id="work">
			<div class="container pt-0 mt-0">
				<div class="work-grid grid grid-cols-2 md:grid-cols-3 gap-2 items-stretch">
					<div class="image-container overflow-hidden relative">
						
						<img class="image translate-x-[101%] w-full h-full aspect-4/5 object-cover" src="../work-assets/01.jpg" />
						<div class="overlay p-7 absolute left-0 top-0 right-0 bottom-0 h-100 w-100 transition delay-50 duration-300 opacity-0 bg-black/[.8] md:hover:opacity-100">
							<h1 class="text-3xl pb-4">Project name</h1>
							<p>Kristaps spots what others overlook and does what others wouldn't.
								He ruthlessly scraps the irrelevant to highlight what matters, be it a brand strategy or a new way to build business. His approach is careful and considerate, while his radically minimalist strategies do sting hard. Especially if you're a competitor to a brand he's working for.</p>
						</div>
					</div>
					<div class="image-container overflow-hidden relative">
						
						<img class="image translate-x-[101%] w-full h-full aspect-4/5  object-cover" src="../work-assets/02.jpg" />
						<div class="overlay p-7 absolute left-0 top-0 right-0 bottom-0 h-100 w-100 transition delay-50 duration-300 opacity-0 bg-black/[.8] md:hover:opacity-100">
							<h1 class="text-3xl pb-4">Project name</h1>
							<p>Kristaps spots what others overlook and does what others wouldn't.
								He ruthlessly scraps the irrelevant to highlight what matters, be it a brand strategy or a new way to build business. His approach is careful and considerate, while his radically minimalist strategies do sting hard. Especially if you're a competitor to a brand he's working for.</p>
						</div>
					</div>
					<div class="image-container overflow-hidden relative">
						
						<img class="image translate-x-[101%] w-full h-full aspect-4/5  object-cover" src="../work-assets/03.jpg" />
						<div class="overlay p-7 absolute left-0 top-0 right-0 bottom-0 h-100 w-100 transition delay-50 duration-300 opacity-0 bg-black/[.8] md:hover:opacity-100">
							<h1 class="text-3xl pb-4">Project name</h1>
							<p>Kristaps spots what others overlook and does what others wouldn't.
								He ruthlessly scraps the irrelevant to highlight what matters, be it a brand strategy or a new way to build business. His approach is careful and considerate, while his radically minimalist strategies do sting hard. Especially if you're a competitor to a brand he's working for.</p>
						</div>
					</div>
					<div class="image-container overflow-hidden relative md:col-span-2">
						
						<img class="image translate-x-[101%] w-full h-full aspect-video object-cover" src="../work-assets/04.jpg" />
						<div class="overlay p-7 absolute left-0 top-0 right-0 bottom-0 h-100 w-100 transition delay-50 duration-300 opacity-0 bg-black/[.8] md:hover:opacity-100">
							<h1 class="text-3xl pb-4">Project name</h1>
							<p>Kristaps spots what others overlook and does what others wouldn't.
								He ruthlessly scraps the irrelevant to highlight what matters, be it a brand strategy or a new way to build business. His approach is careful and considerate, while his radically minimalist strategies do sting hard. Especially if you're a competitor to a brand he's working for.</p>
						</div>
					</div>
					<div class="image-container overflow-hidden relative">
						
						<img class="image translate-x-[101%] w-full h-full aspect-4/5  object-cover" src="../work-assets/05.jpg" />
						<div class="overlay p-7 absolute left-0 top-0 right-0 bottom-0 h-100 w-100 transition delay-50 duration-300 opacity-0 bg-black/[.8] md:hover:opacity-100">
							<h1 class="text-3xl pb-4">Project name</h1>
							<p>Kristaps spots what others overlook and does what others wouldn't.
								He ruthlessly scraps the irrelevant to highlight what matters, be it a brand strategy or a new way to build business. His approach is careful and considerate, while his radically minimalist strategies do sting hard. Especially if you're a competitor to a brand he's working for.</p>
						</div>
					</div>
					<div class="image-container overflow-hidden relative">
						
						<img class="image translate-x-[101%] w-full h-full aspect-4/5  object-cover" src="../work-assets/06.jpg" />
						<div class="overlay p-7 absolute left-0 top-0 right-0 bottom-0 h-100 w-100 transition delay-50 duration-300 opacity-0 bg-black/[.8] md:hover:opacity-100">
							<h1 class="text-3xl pb-4">Project name</h1>
							<p>Kristaps spots what others overlook and does what others wouldn't.
								He ruthlessly scraps the irrelevant to highlight what matters, be it a brand strategy or a new way to build business. His approach is careful and considerate, while his radically minimalist strategies do sting hard. Especially if you're a competitor to a brand he's working for.</p>
						</div>
					</div>
					<div class="image-container overflow-hidden relative md:col-span-2">
						
						<img class="image translate-x-[101%] w-full h-full aspect-video object-cover" src="../work-assets/07.jpg" />
						<div class="overlay p-7 absolute left-0 top-0 right-0 bottom-0 h-100 w-100 transition delay-50 duration-300 opacity-0 bg-black/[.8] md:hover:opacity-100">
							<h1 class="text-3xl pb-4">Project name</h1>
							<p>Kristaps spots what others overlook and does what others wouldn't.
								He ruthlessly scraps the irrelevant to highlight what matters, be it a brand strategy or a new way to build business. His approach is careful and considerate, while his radically minimalist strategies do sting hard. Especially if you're a competitor to a brand he's working for.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>

<script type="text/javascript">
	gsap.registerPlugin(ScrollTrigger);

document.addEventListener("DOMContentLoaded", function(){

ScrollTrigger.batch('.image', {
	onEnter: batch => {
		batch.forEach((card, index)=>{
			gsap.to(card, {opacity: 1, x: 0, stagger: 1.5, delay: index * 0.1,  ease: "power4.inOut", duration: 1.2})
		});
	},
	once: true
});
});
</script>