---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import WorkCard from '../components/WorkCard.astro';

const imgPath:string = 'http://127.0.0.1:8090/api/files'

const data = await fetch(
  'http://127.0.0.1:8090/api/collections/work/records'
).then(res => res.json());

---

<Layout title="Work - Mccann">
	<Header />
	<main>
		<section class="">
			<div class="container mb-0 pb-0 bg-[url('/svg/work-sec1-1.svg')] bg-no-repeat bg-right-top">
				<div class="md:w-2/3 pb-20 md:pb-32">
					<h1 class="
					transition delay-100 duration-700 opacity-0 max-w-2xl text-5xl md:text-7xl  
					text-mccann-light-grey leading-tight"
					data-replace='{"opacity-0": "opacity-100" }'>
					We’ll let our work speak for itself
					</h1>
				</div>
				<nav role="navigation">
					<ul class="work-nav flex flex-nowrap font-overpriced md:text-xl gap-7 cursor-pointer overflow-x-scroll md:overflow-x-clip py-4">
						<li class=" text-mccann-green whitespace-nowrap">All</li>
						<li class="transition text-mccann-dark-grey hover:text-mccann-light-grey whitespace-nowrap">Campaigns</li>
						<li class="transition text-mccann-dark-grey hover:text-mccann-light-grey whitespace-nowrap">Branding / Rebranding</li>
						<li class="transition text-mccann-dark-grey hover:text-mccann-light-grey whitespace-nowrap">Design / Ilustration</li>
					</ul>
				</nav>
			</div>
		</section>
		<section id="work">
			<div class="container pt-0 mt-0">
				<div class="work-grid grid grid-cols-2 md:grid-cols-3 gap-2 items-stretch">

					{data.items.map((item) => (
						<WorkCard 
						name={item.name}
						src={imgPath + "/" + item.collectionName + "/" + item.id + "/"  + item.image}
						description={item.description}
						colspan={item.column_size} />
					 ))}
					 
				</div>
			</div>
		</section>
	</main>
	<Footer />
</Layout>

<script type="text/javascript">
	gsap.registerPlugin(ScrollTrigger);

document.addEventListener("DOMContentLoaded", function(){

ScrollTrigger.batch('.image', {
	onEnter: batch => {
		batch.forEach((card, index)=>{
			gsap.to(card, {opacity: 1, x: 0, stagger: 1.5, delay: index * 0.1,  ease: "power4.inOut", duration: 1.2})
		});
	},
	once: true
});
});
</script>