<section id="work">
  <div class="container pr-0 md:pr-10">
    <div class="p-0 mt-24 h-1 relative -z-0 hidden md:block">
			<img src="/svg/home-bg-chart.svg" class="absolute -translate-y-1/2" alt="">
		</div>
    <div class="relative md:flex z-10">
      <div class="md:max-w-xl mb-8">
        <h1 class="font-thin text-4xl md:text-6xl leading-tight pt-8">Calculated risk makes excellent work
        </h1>
      </div>
    </div>
    <div class="relative z-10
    before:content-[url('/svg/home-work-calc.svg')] before:absolute before:scale-75 before:z-0 before:top-[10%] before:-left-[20%]">
      <div class="relative overflow-x-auto grid grid-cols-[repeat(2,minmax(95%,_1fr))] md:grid-cols-2 grid-rows-2 gap-2 z-10 pb-5 md:bp-0">
        <img class="w-full span aspect-video md:max-w-lg object-cover self-end place-self-end" src="./home/work/01.jpg" />
        <img class="w-full aspect-video object-cover" src="./home/work/02.jpg" />
        <img class="w-full aspect-video object-cover" src="./home/work/03.jpg" />
        <img class="w-full aspect-video md:max-w-xs object-cover" src="./home/work/04.jpg" />
      </div>
      <a href="/work" class="relative inline-block text-mccann-green md:left-3/4 underline z-0 pt-8 mt-5 mb-32 md:mb-0
      after:content-[url('/svg/home-work-btn-bg.svg')] after:absolute after:-z-1 after:top-1/2 after:-translate-y-1/2 after:left-1/2 after:-translate-x-1/2">See for yourself</a>
    </div>
  </div>
</section>