<section class="bg-[url('/svg/home-sec6-1.svg')] bg-no-repeat bg-contain bg-center relative">
  <div class="container">
    <div class="md:flex">
      <div class=" max-w-2xl">
        <h1 class="font-thin text-5xl md:text-6xl leading-tight pt-8 pb-96">With this kind of strategy you just can't miss</h1>
      </div>
    </div>
  </div>
</section>