<section class="container">
  <div class="mb-20">
    <h1 class="font-thin text-5xl md:text-7xl leading-tight">No risk - no Champagne</h1>
    <p class="font-thin text-xl md:text-3xl pt-3">Without calculation, there's just chance.</p>
  </div>
  <div class="grid grid-cols-[repeat(3,minmax(80%,_1fr))] md:grid-cols-3 gap-10 md:gap-20 justify-items-center overflow-x-auto">
    <article class="grid">
      <img class="mb-6 mx-auto" src="svg/home-sec2-1.svg" />
      <div class="md:w-2/3 place-self-center">
        <h3 class="font-overpriced text-3xl text-mccann-green text-left pb-6">Launch the <br> next big thing</h3>
        <p class="text-xl text-mccann-light-grey whitespace-pre-wrap text-left">Elevating existing products or tearing down walls with new ones.</p>	
      </div>
      </article>
    <article class="grid">
      <img class="mb-6 mx-auto" src="svg/home-sec2-2.svg" />
      <div class="md:w-2/3 place-self-center">
        <h3 class="inline-block font-overpriced text-3xl text-mccann-green text-left pb-6">Drive sales <br> through <br> the roof</h3>
        <p class="inline-block text-xl text-mccann-light-grey whitespace-pre-wrap text-left">360 degrees sales campaigns that make your product sweat revenue.</p>	
      </div>
    </article>
    <article class="grid">
      <img class="mb-6 mx-auto" src="svg/home-sec2-3.svg" />
      <div class="md:w-2/3 place-self-center">
        <h3 class="inline-block font-overpriced text-3xl text-mccann-green text-left pb-6">Conquer new  <br> markets</h3>
        <p class="inline-block text-xl text-mccann-light-grey whitespace-pre-wrap text-left">Taking established fishes to completely new ponds worldwide.</p>	
      </div>
    </article>
  </div>
</section>