<section id="team">
  <div class="container md:flex md:flex-col relative">
    <div class="md:flex">
      <div class="mb-8 max-w-lg">
        <h1 class="font-thin text-4xl md:text-6xl relative
        before:content-[url('/svg/home-team-title-bg.svg')] before:absolute before:-translate-y-1/3 before:-translate-x-[30%] before:scale-50 md:before:-translate-x-[15%] md:before:scale-90">
          The team that makes it all come true
        </h1>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-2 columns-2">
      <img class="w-full aspect-square object-cover md:pt-24 self-end" src="./home/team/01.jpg" />
      <img class="w-full aspect-square object-cover md:h-96 md:row-span-2 md:mt-36" src="./home/team/02.jpg" />
      <img class="w-full aspect-square object-cover self-end" src="./home/team/03.jpg" />
      <img class="w-full aspect-square object-cover md:row-span-2 place-self-center" src="./home/team/04.jpg" />
      <img class="w-full aspect-square object-cover md:pl-16" src="./home/team/05.jpg" />
      <img class="w-full aspect-square object-cover" src="./home/team/06.jpg" />
      <img class="w-full aspect-square object-cover col-start-2 -mt-16" src="./home/team/07.jpg" />
    </div>
    <a href="/team" class="relative text-mccann-green text-xl underline md:-top-20 md:pb-20 md:pl-14 self-end
    md:after:content-[url('/svg/home-team-btn-bg.svg')] after:absolute after:top-1/2 after:left-1/2 after:-translate-y-1/2 after:-translate-x-1/2 after:scale-90">Meet our family</a>
  </div>
</section>