<section id="risk" class="container">
  <div class="p-0 mt-24 h-1 relative">
    <img src="/vg/mccant.svg" class="absolute scale-50 md:scale-75 -translate-y-1/2 md:-translate-x-1/2 translate-x-1/4" alt="">
  </div>
  <div class="md:flex">
    <div class="md:w-1/2 flex flex-col">
      <h1 class="font-thin text-5xl md:text-6xl leading-tight pt-36">Calculated risk that racks up awards</h1>
      <p class="text-xl max-w-sm self-end pt-12 pr-4">Solid forerunner of Latvian ad industry with consecutive Agency of the Year awards four years in a row.</p>
    </div>
    <div class="md:w-1/2">
      <img class="" src="svg/home-sec3-1.svg" />
    </div>
  </div>
</section>