---
import { Image } from "@astrojs/image/components";
import hamburger from "/svg/hamburger.svg";
import hamburger_close from "/svg/hamburger-close.svg";

---

<style>
  [aria-expanded="true"] .hamburger {
    opacity: 0.5;
  }
  .mobile-navigation {
  /* position: absolute;
  top: 0%;
  right: 0%;
  background: greenyellow;
  transition: clip-path ease-in-out 200ms;
  margin: 0;
  padding: 2rem;
  list-style: none;
  width: 100vw; */
}
.menu-toggle {
  padding: 1em;
  background: transparent;
  border: 0;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  z-index: 666;
}
  .mobile-navigation[data-state="opened"] {
    animation: clipPathCircleOpen 250ms ease-in-out forwards;
  }
  .mobile-navigation[data-state="closing"] {
    animation: clipPathCircleClose 250ms ease-in-out forwards;
  }
  .mobile-navigation[data-state="closed"] {
    display: none;
  }
  @keyframes clipPathCircleOpen {
    0% { clip-path: circle(0% at top right); }
    100% { clip-path: circle(250% at top right); }
  }
  @keyframes clipPathCircleClose {
    0% { clip-path: circle(250% at top right); }
    100% { clip-path: circle(0% at top right); }
  }
</style>

<nav class="md:flex md:items-center">
  <a href="/">
    <svg
      width="180"
      height="62"
      viewBox="0 0 180 62"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_1486_286)">
        <path
          d="M74.3868 57.7749C72.6155 56.7203 70.8442 55.6623 69.0696 54.6077C70.6835 53.7973 72.0958 52.5698 72.2907 50.681C72.4685 48.9245 71.2067 46.8527 69.3397 46.6356C67.4043 46.4084 66.1835 48.0327 65.7766 49.718C64.9183 53.2683 65.5783 57.507 65.592 61.1319C65.5954 62.2882 67.4145 62.2916 67.4111 61.1319C67.4043 59.3212 67.3872 57.507 67.3769 55.6962C69.4081 56.9068 71.4392 58.1174 73.4704 59.3279C74.4757 59.9281 75.3887 58.3717 74.3868 57.7749ZM67.459 50.7692C67.6607 49.4772 67.5718 49.1551 69.0319 49.1992C70.1604 48.8567 70.5433 49.2331 70.174 50.325C70.4373 51.1049 70.2116 51.6881 69.5038 52.0679C68.8883 52.7732 68.201 53.1089 67.3735 53.4074C67.3735 53.1157 67.3735 52.8241 67.3735 52.5291C67.3735 51.9357 67.3667 51.3592 67.459 50.7692Z"
          fill="#00CE7C"></path>
        <path
          d="M80.7914 48.7719C81.2974 52.2341 81.4308 55.6996 81.2291 59.1923C81.1607 60.3486 82.9798 60.3452 83.0482 59.1923C83.2602 55.5335 83.079 51.9221 82.5455 48.2972C82.378 47.1578 80.6272 47.6428 80.7914 48.7753V48.7719Z"
          fill="#00CE7C"></path>
        <path
          d="M96.8389 51.5932C95.8028 51.0608 94.883 52.6105 95.9225 53.1462C97.1364 53.7702 100.58 57.1306 98.3913 58.5107C97.6356 58.9888 95.3822 58.7752 94.5718 58.6192C93.4058 58.392 92.2979 57.9004 91.5934 56.9204C90.3419 55.174 90.5608 52.6037 92.0756 51.071C93.7785 49.3484 96.5277 49.2026 98.6478 50.1758C99.701 50.6607 100.628 49.111 99.5642 48.6227C96.4628 47.1985 92.4312 47.5376 90.253 50.4098C88.3655 52.8987 88.5228 56.7644 90.9267 58.8803C92.1919 59.996 93.9084 60.4436 95.5669 60.5249C96.9757 60.5928 99.2906 60.6267 100.269 59.3924C102.341 56.7813 99.1128 52.7563 96.8355 51.5898L96.8389 51.5932Z"
          fill="#00CE7C"></path>
        <path
          d="M117.889 59.1109C115.8 55.9675 113.71 52.8275 111.621 49.6841C111.231 49.0941 110.448 49.1178 110.052 49.6841C107.986 52.6444 107.015 56.0862 107.224 59.6772C107.292 60.8267 109.108 60.8335 109.043 59.6772C108.975 58.487 109.043 57.3341 109.245 56.2151H113.512C113.604 56.2151 113.69 56.2015 113.769 56.1811C114.62 57.4595 115.468 58.7379 116.32 60.0163C116.959 60.9793 118.535 60.0807 117.889 59.1109ZM109.696 54.4179C109.99 53.5193 110.376 52.6478 110.855 51.8034C111.433 52.6749 112.014 53.5464 112.592 54.4179H109.696Z"
          fill="#00CE7C"></path>
        <path
          d="M41.2899 34.513H35.4426L31.288 15.3101L20.6467 34.062L10.0019 15.3101L5.84726 34.513H0L7.49202 0.542557L20.6467 23.7332L33.8013 0.542557L41.2899 34.513Z"
          fill="#C8C8C8"></path>
        <path
          d="M44.2579 23.4178C44.2579 16.307 49.4179 11.4139 56.4073 11.4139C59.0573 11.4139 61.704 12.0921 63.7625 13.4078V18.5722C61.8442 17.0768 59.3309 16.2155 56.9099 16.2155C52.5706 16.2155 49.6949 18.9791 49.6949 23.3263C49.6949 27.6735 52.4817 30.2574 56.821 30.2574C59.2864 30.2574 61.7074 29.4876 63.8993 27.9007V33.0651C61.7519 34.3774 59.0573 35.059 56.4073 35.059C49.052 35.059 44.2579 30.3489 44.2579 23.4178Z"
          fill="#C8C8C8"></path>
        <path
          d="M69.1038 17.755C69.1038 7.338 76.5479 0 87.0559 0C90.9848 0 94.8215 0.996937 97.8819 2.89926V8.78593C94.9138 6.4767 91.0293 5.16102 87.285 5.16102C79.9776 5.16102 74.9066 10.3254 74.9066 17.7991C74.9066 25.2727 79.7485 29.8912 87.2405 29.8912C91.0327 29.8912 95.0061 28.5789 98.0187 26.2662V32.1529C94.9582 34.0552 91.0772 35.0522 87.1482 35.0522C76.2778 35.0522 69.1072 28.1686 69.1072 17.7482"
          fill="#C8C8C8"></path>
        <path
          d="M120.717 23.2347C120.717 19.0232 118.022 16.1239 114.138 16.1239C110.253 16.1239 107.562 19.0232 107.562 23.2347C107.562 27.4463 110.257 30.3455 114.138 30.3455C118.019 30.3455 120.717 27.4463 120.717 23.2347ZM121.127 12.1362H126.106V34.513H121.127V31.3425C119.483 33.7433 116.836 35.0556 113.454 35.0556C106.923 35.0556 102.125 30.0743 102.125 23.3229C102.125 16.5715 106.967 11.4105 113.591 11.4105C116.788 11.4105 119.527 12.7703 121.127 15.0354V12.1362Z"
          fill="#C8C8C8"></path>
        <path
          d="M153.192 20.6542V34.513H147.847V21.6071C147.847 18.1653 146.158 16.1273 143.326 16.1273C139.671 16.1273 137.479 19.1622 137.479 24.2791V34.5164H132.135V12.1396H137.206V15.0388C138.714 12.6855 141.179 11.4139 144.376 11.4139C149.628 11.4139 153.192 15.127 153.192 20.6542Z"
          fill="#C8C8C8"></path>
        <path
          d="M180 20.6542V34.513H174.655V21.6071C174.655 18.1653 172.966 16.1273 170.135 16.1273C166.479 16.1273 164.288 19.1622 164.288 24.2791V34.5164H158.943V12.1396H164.014V15.0388C165.522 12.6855 167.987 11.4139 171.185 11.4139C176.437 11.4139 180 15.127 180 20.6542Z"
          fill="#C8C8C8"></path>
      </g>
      <defs>
        <clipPath id="clip0_1486_286">
          <rect width="180" height="62" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
  </a>
  <button
    aria-controls="mobile-navigation"
    aria-label="Menu"
    aria-expanded="false"
    class="menu-toggle text-white md:hidden border p-0 absolute z-50"
  >
    <span class="hidden">Menu</span>
    <div class="hamburger"><img src={hamburger} alt=""/></div>
    <div class="hamburger-close"><img src={hamburger_close} alt="" /></div>
  </button>
  <ul
    id="primary-navigation"
    class="primary-navigation 
    hidden md:flex md:w-full 
    font-sofia_regular text-xl 
    justify-end gap-8 bg-transparent text-mccann-light-grey"
    role="navigation"
  >
    <li><a href="/Work">Work</a></li>
    <li><a href="/team/">Team</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/w-label/">White Label</a></li>
  </ul>
  <ul
    data-state="closed"
    id="mobile-navigation"
    class="mobile-navigation 
    absolute top-0 left-0 z-30 bg-mccann-green w-full h-screen font-sofia_regular text-xl flex-col pt-20 px-12"
    role="navigation"
  >
    <li class="flex my-12 justify-center"><a href="/Work">Work</a></li>
    <li class="flex my-12 justify-center"><a href="/team/">Team</a></li>
    <li class="flex my-12 justify-center"><a href="/about/">About</a></li>
    <li class="flex my-12 justify-center"><a href="/w-label/">White Label</a></li>
  </ul>
</nav>

<script>
  const menuToggle = document.querySelector(".menu-toggle");
  const siteNavigation = document.querySelector(".mobile-navigation");
  const hamburger = menuToggle.querySelector(".hamburger");

  if (menuToggle != null) {
    menuToggle.addEventListener("click", () => {
      if (menuToggle.getAttribute("aria-expanded") === "true") {
        closeMenu();
      } else {
        openMenu();
      }
    });
  }

  function openMenu() {
    menuToggle.setAttribute("aria-expanded", "true");
    siteNavigation.setAttribute("data-state", "opened");
    hamburger.classList.toggle('hidden');
  }
  function closeMenu() {
    menuToggle.setAttribute("aria-expanded", "false");
    siteNavigation.setAttribute("data-state", "closing");

    siteNavigation.addEventListener(
      "animationend",
      () => {
        siteNavigation.setAttribute("data-state", "closed");
        hamburger.classList.toggle('hidden');
      },
      { once: true }
    );
  }
</script>
