---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`} class="block font-overpriced text-3xl text-mccann-dark-grey hover:text-mccann-green">{platform}</a>